<section>
    <form class="form" [formGroup]="requestForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Loan Value: </label>
            <input type="number" class="form-control" formControlName="loanValue">
            <span class="text-danger"
                *ngIf="(requestFormControl['loanValue'].touched || submitted) && requestFormControl['loanValue'].errors?.['nonPositiveNumber']">
                Loan value is required and shoud be higher than 0
            </span>
        </div>        
        <div class="form-group">
            <label>Interest Rate: </label>
            <input type="number" class="form-control" formControlName="interestRate">
            <span class="text-danger"
                *ngIf="(requestFormControl['interestRate'].touched || submitted) && requestFormControl['interestRate'].errors != null">
                Interest rate is required and shoud between 0 (exclusive) and 100
            </span>
        </div>        
        <div class="form-group">
            <label>Loan term (in years): </label>
            <input type="number" class="form-control" formControlName="loanTerm">
            <span class="text-danger"
                *ngIf="(requestFormControl['loanTerm'].touched || submitted) && requestFormControl['loanTerm'].errors != null">
                Loan term is required and shoud between 0 (exclusive) and 30
            </span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="requestForm.invalid">Submit</button>
        </div>
    </form>
</section>